
*{
    margin: 0;
}

  @font-face {
    font-family: 'Games';
    font-style: normal;
    font-weight: 400;
    src: local('Games'), local('Games-Italic'), url(./fonts/Games.ttf) format('truetype'), url('./fonts/Games-Italic.ttf') format('truetype');  
}

body{      
    background:linear-gradient(360deg, #2980b9, #6dd5fa, #ffffff);
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris{
    background-color: #ffd49bea;
    padding: 0.5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
}

.tetris div{
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(97, 75, 75, 0.205);
    border-radius: 0.5vh;
    box-shadow: 
        inset 2px 2px 2px rgba(128, 128, 128, 0.271),
        inset -2px -2px 2px rgba(22, 87, 217, 0.271);   
} 

.score{
    font-family: 'Games';   
    font-size: 30px;
    text-align: right;
}
   
.tetris .O{
    background: rgb(227, 243, 4);
}

.tetris .L{
    background: rgb(14, 201, 23);
}

.tetris .J{
    background: rgb(102, 159, 245);
}

.tetris .S{
    background: rgb(255, 21, 21);
}

.tetris .Z{
    background: rgb(2, 248, 43);
}

.tetris .T{
    background: rgb(240, 92, 23);
}

.tetris .I{
    background: rgb(204, 70, 204);
}

.game-over{
    position: fixed;
    background-color: rgba(14, 11, 11, .5);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.restart{
    padding: 35px;
    border: none;
    border-radius: 55px; 
    background-color: rgb(140,16,68);
    color: #fff;
    font-family: 'Games-Italic';
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

